<form name="contact.myform" 
	ng-submit="contact.register(contact.user)" 
	novalidate>

	<header class="text"
	ng-if="contact.app.pageClass == 'contact'">

		<!-- <h1 ng-hide="contact.user.firstname;">Let's Work.</h1> -->
		<h1 ng-if="contact.user.firstname">
			Welcome, <br>
			{{contact.user.firstname}}.
		</h1>

		<button class="error validationerror" 
			ng-if="contact.myform.firstname.$invalid && contact.myform.firstname.$touched">
			FN?
		</button>
		<button class="error validationerror" 
			ng-if="contact.myform.lastname.$invalid && contact.myform.lastname.$touched">
			LN?
		</button>
		<button class="error validationerror" 
			ng-if="contact.myform.email.$invalid && contact.myform.email.$touched">
			contact?
		</button>




	</header>

	<fieldset>

		<input type="text" 
			name="firstname" 
			placeholder="First Name"
			ng-model="contact.user.firstname"
			ng-required="true">

		<input type="text" 
			ng-if="contact.app.pageClass == 'contact'"
			name="lastname"
			placeholder="Last Name" 
			ng-model="contact.user.lastname"
			ng-required="true">

		<input type="" 
			ng-if="contact.app.pageClass == 'contact'"
			name="phone"
			placeholder="Phone" 
			ng-model="contact.user.phone"
			ng-pattern="/^(?:\d{10}|\w+@\w+\.\w{2,3})$/"
			ng-required="true">

		<input type="" 
			ng-if="contact.app.pageClass == 'contact'"
			name="email"
			placeholder="Email" 
			ng-model="contact.user.email"
			ng-pattern="/^(?:\d{10}|\w+@\w+\.\w{2,3})$/"
			ng-required="true">

		<label ng-if="contact.app.pageClass == 'contact'" class="resume">Request Resume?
			<input ng-if="contact.app.pageClass == 'contact'"
				type="checkbox"
				ng-model="contact.user.resume">
		</label>
		</br ng-if="contact.app.pageClass == 'contact'">

		<label ng-if="contact.app.pageClass == 'contact'" class="needs">Please describe your project.
			<input type="text" 
				ng-if="contact.app.pageClass == 'contact'"
				name="needs"
				ng-if="contact.myform.email.$valid"
				placeholder="ex: 'I need a web app.'" 
				ng-model="contact.user.needs"
				ng-required="true">
		</label>
		</br ng-if="contact.app.pageClass == 'contact'">

		<!-- <label> What skills can I provide?

			<select
				ng-repeat="x in contact.skills"
				type="checkbox"
				ng-options="['one', 'two', 'three']">

		</label></br> -->
	</fieldset>

	<button type="submit"
		ng-if="contact.app.pageClass == 'contact'"
		ng-click="contact.submit()">
		Let's Connect
	</button>

	<button id="mobileSubmit"
		ng-hide="contact.app.pageClass == 'contact'"
		ui-sref="contact">
		Hello
	</button>

</form>