
<!DOCTYPE html>
<html lang="en"
	ng-app="malikdunston"
	ng-controller="appCtrl as app">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{app.ticker || "Malik Dunston"}}</title>
	<link rel="stylesheet" type="text/css" href="assets/fonts/fonts.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<!-- <script src="assets/modules/ajs_1.7.7.js"></script> -->
</head>


<body class="{{app.pageClass}} {{app.caseStudyName}}"
	ng-class="{open: app.navOpen, clicked: app.projClicker}">

	<!-- <img src="flower.jpg" alt=""> -->
	
	<navigation
		ng-class="{peeked: app.menuPeek}"
		ng-click="app.navOpen = !app.navOpen"
		ng-mouseenter="app.menuPeek = true"
		ng-mouseleave="app.menuPeek = false">
	</navigation>
	
	<ui-view>
	</ui-view>

	<contact-form
		ng-hide="app.pageClass == 'about'"
		ng-class="{peeked: app.formPeek == true}">
	</contact-form>

	<projects id="projects" 
		ng-if="app.pageClass == 'home' || app.pageClass == 'casestudy'"
		ng-class="{clicked: projClicker}"
		ng-mouseenter="app.formPeek = true"
		ng-mouseleave="app.formPeek = false"
		class="{{whichPage}}">
	</projects>		 
	
	<div id="homepage"
		ng-class="{welcomeheader: app.welcomeHeader}"
		ng-if="app.pageClass == 'home'">
		<h3>Malik Dunston</h3>
		<p>Welcome to my portfolio.</p>
		<p>It was built from scratch with WP <a target="blank" href="https://medium.com/digital-times/my-wordpress-renaissance-ff4c0a224f30">API backend</a>, AngularJS, and SASS.</p>
		<p>Please peruse, <a ui-sref="about">learn</a>, check out my <a ui-sref="skills">skills</a>, and <a ui-sref="contact">say hi.</a></p>
	</div>
	<div id="apps"
		ng-class="{welcomeheader: app.welcomeHeader}"
		ng-if="app.pageClass == 'apps'">
		<h3>Web Development</h3>
		<p>Welcome to my web development portfolio.</p>
		<p>I have three years' experience creating beautiful, fully extensible, modular web applications.</p>
	</div>

<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<!-- Moduls from wip site -->
	<script src="assets/modules/ngTouch.js"></script>
	<script src="assets/modules/angular-animate.min.js" type="text/javascript"></script>
<!-- Modules from Hendricks -->
	<script src="assets/modules/ui.router.js" type="text/javascript"></script>
	<script src="assets/modules/ng-scroll.js" type="text/javascript"></script>
	<script src="assets/modules/angular-sanitize.min.js" type="text/javascript"></script>
<!-- App -->
	<!-- My Modules -->
		<script type="text/javascript" src="wpdata/wpdata.js"></script>
	<!-- The Site -->
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="nav/nav.js"></script>
		<script type="text/javascript" src="projects/projects.js"></script>
		<script type="text/javascript" src="casestudy/casestudy.js"></script>
		<script type="text/javascript" src="home/home.js"></script>
		<script type="text/javascript" src="about-page/about.js"></script>
		<script type="text/javascript" src="skills-page/skills.js"></script>
		<script type="text/javascript" src="contact-page/contact.js"></script>
		<script type="text/javascript" src="363-labs/labs.js"></script>
		<script type="text/javascript" src="363-labs/todo/todo.js"></script>
		<script type="text/javascript" src="363-labs/game/game.js"></script>
		<script type="text/javascript" src="363-labs/social/social.js"></script>

</body>
</html>