#about{
	width: calc(100vw - 2rem);
	background: $black;
	img.avatar{
		width: 2rem;
		height: 2rem;
		object-fit: cover;
		border-radius: 2rem;
	}
	.column{
		margin-top: 1rem;
	}
	@include breakpoint(smMd){
		width: 60vw;
	}
	@include breakpoint(md){
		width: 40vw;
	}
}