#casestudy {
	display: block;
	padding-top: 5rem;
	article {
		padding-top: 2rem;
		&:nth-child(1) {
			padding-top: 0;
		}
		section.text {
			padding-top: 2rem;
			&:first-child {
				padding-top: 0;
			}
		}
		.column {
			margin: 0 2rem 2rem;
		}
	}
	@include breakpoint(md) {
		padding: 0;
		article {
			padding-top: 0;
			@include flex(row);
			width: 100%;
			justify-content: flex-end;
			&:first-of-type {
				section.text {
					padding-top: 5rem;
				}
			}
			section.text {
				padding-top: 0;
				left: 0;
				width: 30vw;
				margin-right: auto;
			}
			section.content {
				width: 66.666vw;
			}
		}
		#projects {
			margin-left: auto;
			.proj-details {
				left: 0;
				text-align: left;
				.skills {
					div {
						span {
							margin-left: 0;
							margin-right: .25rem;
						}
					}
				}
			}
		}
	}
}