.App.work {
	display: block;
	padding-top: 5rem;
	article {
		padding-top: 2rem;
		margin: 0!important;
		&:nth-child(1) {
			padding-top: 0;
		}
		section.text {
			padding-top: 2rem;
			&:first-child {
				padding-top: 0;
			}
		}
		section:empty{
			display: none;
		}
		section.text:last-of-type .column:last-of-type{
			padding-bottom: 0;
		}
		#projects{
			padding-top: 4em;
		}
		ul{
			li{
				list-style: disc!important;
				margin-left: .5rem;
				padding-left: .05rem;
				font-weight: 100;
			}
		}
	}
	#projects {
		padding-top: 0;
		width: 100vw;
		// margin-left: auto;
		div.column{
			display: block;
			padding-top: 5rem;
			left: 0;
			top: 3rem;
		}
		.proj{
			text-align: left;
			.proj-details{
				left: 0;
				text-align: left;
				.skills {
					div {
						span {
							margin-left: 0;
							margin-right: .25rem;
						}
					}
				}
			}
		}
	}
	@include breakpoint(md) {
		padding: 0;
		article {
			padding-top: 0;
			@include flex(row);
			width: 100%;
			justify-content: flex-end;
			&:first-of-type {
				section.text {
					padding-top: 5rem;
				}
			}
			.column{
				img{
					height: 12rem;
					margin-bottom: 1rem;
				}
			}
			section.text {
				padding-top: 0;
				left: 0;
				width: 32vw;
				margin-right: auto;
				// .button, button{
				// 	margin-top: 1.5rem;
				// }
				&.flex{
					// background: red;
					width: 100%;
					// padding-top: 4rem;
					> div{
						@include flex(row);
						.column.flex-3{
							width: 33%;
						}
						.column.flex-2{
							width: 50%;
							padding-bottom: 6rem;
							&:first-child{padding-right: 1.5rem;}
							&:last-child{padding-left: 1.5rem;}
						}
					}
					&+.text.flex{
						padding-top: 2rem;
					}
				}
			}
			section.content {
				width: 66.666vw;
			}
		}
		#projects {
			padding-left: 32vw;
			padding-right: 0;
			// margin-top: 4rem;
			div.column{
				position: absolute;
				padding-top: 2.5rem;
			}
		}
	}
	@include breakpoint(lg){
		article {
			&:first-of-type {
				section.text {
					padding-top: 6rem;
				}
			}
			.column {
				padding: 0 3rem 2rem;
			}
		}
		#projects{
			div.column{
				padding-top: 3rem;
			}
			div.column, div.proj-details{
				padding-left: 3rem;
			}
		}
	}
}