#casestudy {
	display: block;
	padding-top: 5rem;
	article {
		padding-top: 2rem;
		margin: 0!important;
		&:nth-child(1) {
			padding-top: 0;
		}
		section.text {
			padding-top: 2rem;
			&:first-child {
				padding-top: 0;
			}
			// .button, button{
			// 	margin-top: 1rem;
			// 	:not(:first-of-type){
			// 		margin-left: .25rem;
			// 	}
			// }
		}
		section:empty{
			display: none;
		}
		section.text:last-of-type .column:last-of-type{
			padding-bottom: 0;
		}
		#projects{
			padding-top: 4em;
		}
		.column {
			padding: 0 2rem 2rem;
			h3{
				margin-top: 0;
			}
			h3:only-child{
				margin: 0;
			}
			p:last-child{
				margin-bottom: 0;
			}
			img{
				width: 100%;
				height: 6rem;
				object-fit: cover;
			}
		}
	}
	ul{
		li{
			list-style: disc!important;
			margin-left: .5rem;
			padding-left: .05rem;
			font-weight: 100;
		}
	}
	@include breakpoint(md) {
		padding: 0;
		article {
			padding-top: 0;
			@include flex(row);
			width: 100%;
			justify-content: flex-end;
			&:first-of-type {
				section.text {
					padding-top: 5rem;
				}
			}
			.column{
				img{
					height: 12rem;
					margin-bottom: 1rem;
				}
			}
			section.text {
				padding-top: 0;
				left: 0;
				width: 33vw;
				margin-right: auto;
				// .button, button{
				// 	margin-top: 1.5rem;
				// }
				&.flex{
					// background: red;
					width: 100%;
					padding-top: 4rem;
					> div{
						@include flex(row);
						.column.float-3{
							width: 33%;
						}
						.column.float-2{
							width: 50%;
							padding-bottom: 6rem;
							&:first-child{padding-right: 1.5rem;}
							&:last-child{padding-left: 1.5rem;}
						}
					}
					&+.text.flex{
						padding-top: 2rem;
						background: purple;
					}
				}
			}
			section.content {
				width: 66.666vw;
			}
			#projects {
				padding-top: 0;
				margin-left: auto;
				.proj-details {
					left: 0;
					text-align: left;
					.skills {
						div {
							span {
								margin-left: 0;
								margin-right: .25rem;
							}
						}
					}
				}
			}
		}
	}
	@include breakpoint(lg){
		article {
			&:first-of-type {
				section.text {
					padding-top: 6rem;
				}
			}
			.column {
				padding: 0 3rem 2rem;
			}
		}
	}
}