#contact {
	padding-top: 4rem;
	display: block;
	form {
		padding: 0 2rem 2rem;
		header {
			height: 2rem;
			h1 {
				margin-bottom: 1rem;
			}
		}
		fieldset {
			padding: 0;
			margin: 0;
			border: 0;
			label {
				position: relative;
				height: 2rem;
				display: block;
				input {
					width: 100%;
					height: 100%;
					border: 0;
					background: transparent;
					&::placeholder{
						opacity: .5;
					}
				}
				span{
					position: absolute;
					height: 2rem;
					width: 100%;
					line-height: 2rem;
					background: $black;
				}
				textarea {
					width: 100%;
					height: calc(100vh - 17rem);
					resize: none;
					background: transparent;
					border: 0;
					padding: 2rem 0 0 0;
					&::placeholder{
						opacity: .5;
					}
				}
				&.error{
					input,
					textarea{
						color: $red;
					}
					&::after{
						content: "!";
						color: $red;
						font-size: .666rem;
						position: absolute;
						right: .666rem;
						bottom: 1rem;
						display: block;
						transform-origin: center center;
					}
				}
			}
		}
	}
	input.button{
		z-index: 900;
		position: fixed;
		bottom: 2rem;
		left: 2rem;
	}
	@include breakpoint (md) {
		padding-top: 4rem;
		form {
			padding: 0 2rem 0 2rem;
		}
	}
	@include breakpoint (lg) {
		padding-top: 6rem;
		form {
			padding: 0 3rem 0 3rem;
		}
	}
	@include breakpoint (md) {
		&>*:not(navigation) {
			width: 50vw;
		}
		#hello {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 50vw;
			height: 100vh;
			img {
				transform: scale(1.25);
			}
		}
	}
}