.App.home{
	position: relative;
	#homepage{
		display: none;
		padding-top: 5rem;
		position: absolute;
		transition: top .25s;
		@include breakpoint(md) {
			display: block;
			top: 0;
			padding-top: 2rem;
			width: calc(34vw);
			right: 0;
			&.hidden{
				top: -100vh;
			}
		}
	}
	#projects{
		z-index: 100;
		.column{
			display: none;
		}
	}
}
