body.about{
	ui-view{
		padding: 0;
		div.headshot{
			// background: $lgray;
			height: 12rem;
			position: relative;
			@include flex(column, align-center);
			justify-content: flex-end;
			overflow: hidden;
			@keyframes change-background {
				0% {
					background: $cyan;
				}
				8% {
					background: $cyan;
				}
				20% {
					background: $green;
				}
				34% {
					background: $yellow;
				}
				51% {
					background: $orange;
				}
				68% {
					background: $red;
				}
				85% {
					background: $magenta;
				}
				100% {
					background: $cyan;
				}
			}
			animation: change-background 10s linear infinite;
			img{
				height: calc(100% - 2rem);
				margin-left: 20px;
				margin-bottom: -35px;
			}
		}
	}
@include breakpoint(md){
	ui-view{
		@include flex(row);
		div.headshot{
			// position: absolute;
			height: 100vh;
			width: 50vw;
		}
		section.text{
			position: relative;
			padding-top: 2rem;
			width: 50vw;
			padding-right: 10%;
		}
	}
}
// @include breakpoint(md){
// 	section.text{
// 		padding-right: 8rem;
// 	}
// }
@include breakpoint(lg){
	section.text{
		padding-right: 8rem;
	}
}}