body.casestudy{
	// background: purple!important;
	ui-view{
		article{
			padding-top: 2rem;
			&:nth-child(1){
				padding-top: 0;
			}
		}
	}
@include breakpoint(md){
	ui-view{
		padding: 0;
		article{
			padding-top: 0;
			@include flex(row);
			width: 100%;
			// padding-top: 2rem;
			// background: green;
			// background: red!important;
			justify-content: flex-end;
		&:first-of-type{
			section.text{
				padding-top: 5rem!important;
				// background: red;
			@include breakpoint(lg){
				padding-top: 6rem!important;
			}}
		}
		&:nth-child(2){
		}
			section.text{
				padding-top: 0!important;
				left: 0;
				// position: fixed;
				// background: red;
				width: 30vw;
				margin-right: auto;
			}
			section.content{
				// margin-left: auto;
				width: 66.666vw;
			}
		}
	}
	projects{
		margin-left: auto;
		// z-index: 1000;
		.proj-details{
			left: 0;
			text-align: left;
			.skills{
				div{
					span{
						margin-left: 0;
						margin-right: .25rem;
					}
				}
			}
		}
	}
}
}