button,
.button{
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	background: $white10;
	border: 0;
	cursor: pointer;
	border-radius: 100px;
	font-weight: 800;
	&.inactive{
		color: $white10;
	}
	&:not(:first-of-type){
		margin-left: .5rem;
	}
}
.lightmode button,
.lightmode .button{
	background: $black10;
	&.inactive{
		background: $black10;
	}
}