#projects {
	position: relative;
	display: block;
	// width: 100%;
	flex-direction: column;
	padding: 0;

	.proj{
		height: 150px;
		border: 0;
		background-size: cover;
		justify-content: center;
		align-items: center;
		text-align: right;
		position: relative;
		overflow: hidden;
		transition: height .6667s;
		cursor: pointer;

		* {
			transition: height .666s;
		}

		.proj-title {
			opacity: 0;
			margin: 0;
			text-align: center;
			position: absolute;
			@include flex(row, align-center, justify-center);
			height: 150px;
			line-height: 150px;
			width: 100%;
		}

		.proj-details {
			position: fixed;
			overflow: hidden;
			padding: 1rem;
			width: 100%;
			bottom: -100vh;
			transition: .5s bottom;
			background: $black90;
			a{
				border: 0px;
				button{
					margin-top: .5rem;
				}
			}
			.proj-tagline {
				margin-bottom: 1rem;
				max-width: calc(70vw - 2rem);
				margin-left: auto;
			}
		}

		.proj-img {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			transform: scale(1.2);
			transition: .5s;
			object-fit: cover;
			left: 0;
		}
		&.proj-hover {
			height: 300px !important;

			.proj-title {
				position: fixed;
				max-height: 90px;
			}
		}
		&.proj-bg {
			.skills {
				display: block !important;
			}

			.proj-title {
				opacity: .67 !important;
			}

			.proj-img {
				opacity: .1;
				transform: scale(1);
			}
		}
		&.clicked {
			height: 100vh !important;
			.proj-details {
				bottom: 0;
			}
		}
		&.proj-hide {
			height: 0 !important;
		}
	}

	@include breakpoint(md) {
		width: 66vw;
		margin-right: auto;
		height: 100vh;
		.proj {
			height: 50%;
			width: 50%;
			float: left;
			.proj-title {
				height: 33.33vh;
			}
			.proj-details {
				pointer-events: none;
				padding: 2rem;
				width: 32vw;
				position: fixed;
				right: 0;
				bottom: -100vh;
				opacity: 1;
				background: transparent;
				a {
					display: none;
				}
			}
			&.proj-hover {
				height: 33.33% !important;
				.proj-details {
					bottom: 0rem;
				}
			}
		}
	}

	// mobile devices with > 600px height...
	@media screen and (max-width: 1000px) and (min-height: 600px){
		.proj{
			height: 25vh;
			.proj-title {
				height: 25vh;
			}
			&.proj-hover {
				height: 50vh !important;
			}
			&.clicked {
				height: 100vh !important;
			}
		}
	}

}