.slider-js{
	height: 100vh;
	width: 100vw;
	.card{
		// padding: 2em 0em 2em 1em;
		opacity: .25;
		transition: 300ms;
		&.selected{
			bottom: 0;
			opacity: 1;
		}
	}
	.select{
		bottom: 0;
		background: purple;
		display: flex;
		line-height: 1;
		height: 20px;
		.selection {
			width: 20px;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				transform: scale(5);
				transition: 200ms;
			}
			&.selected{
				img{
					transform: scale(1)
				}
				background: blue;
			}
		}
	}
}
