@font-face {
  font-family: 'FrutigerLTStd-Roman';
  src: url('FrutigerLTStd-Roman.eot');
  src: url('FrutigerLTStd-Roman.woff2') format('woff2'),
       url('FrutigerLTStd-Roman.woff') format('woff'),
       url('FrutigerLTStd-Roman.ttf') format('truetype'),
       url('FrutigerLTStd-Roman.svg#FrutigerLTStd-Roman') format('svg'),
       url('FrutigerLTStd-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

