/// @type Color

$black: rgba(20, 20, 20, 100);
$black90: rgba(20, 20, 20, .9);
$black10: rgba(20, 20, 20, .1);
$white: rgba(235, 235, 235, 100);
$white90: rgba(235, 235, 235, .9);
$white10: rgba(235, 235, 235, .1);

// replace these with black/white90....
$lgray: rgb(221, 221, 221);
$dgray: rgb(34, 34, 34);


$cyan: rgb(80, 135, 199);
$green: rgb(103, 174, 62);
$yellow: rgb(231, 187, 58);
$orange: rgb(241, 90, 34);
$red: rgb(209, 34, 62);
$magenta: rgb(221, 51, 174);

body{
	background: $black;
	*{
		color: $white;
	}
}
body.lightmode{
	background: $white;
	*{
		color: $black;
	}
}
.shader{
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(360deg, rgba(22, 22, 22, 1) 0%, rgba(21, 21, 21, .2) 100%);
}
