:root{
	--header-text: "Gotham", sans-serif;
	--body-text: "Caslon", serif;
	--code-text: "Jambon", monospace;
}

body{
	line-height: .667rem;
	*{
		font-family: var(--header-text);
		font-weight: 800;
		font-size: .475rem;
	}
	p{
		font-family: var(--header-text);
		font-weight: 100;
	}
	h1,
	h2,
	h3,
	button,
	.button,
	navigation {
		text-transform: uppercase;
		letter-spacing: .0875em;
	}
	h1{
		font-size: 1rem;
		line-height: 1.25rem;
		letter-spacing: .075em;
	}
	a{
		font-weight: inherit;
		color: $white;
		border-bottom: 2px dotted $white90;
	}
	.column {
		padding: 0 2rem 2rem;
		h3{
			margin-top: 0;
		}
		h3:only-child{
			margin: 0;
		}
		p:last-child{
			margin-bottom: 0;
		}
		img{
			width: 100%;
			height: 6rem;
			object-fit: cover;
		}
	}

}