.case-study{
	header{
		height: 50vh;
		overflow: hidden;
		position: relative;
		margin-bottom: 2rem;
		img{
			width: 100%;
			height: 100%;
			position: absolute;
		}
		h1{
			position: absolute;
			bottom: 1rem;
			left: 1.5rem;
			margin: 0;
		}
	}
	article{
		padding: 0 1.5rem 3rem;
		section.text{
			.project-section-title{
				margin-bottom: 1.5rem;
			}
			img{
				width: 100% !important;
				height: 6rem!important;
			}
			&:only-child{
				padding: 0!important;
			}
			.float,
			.float-2,
			.float-3{
				margin-bottom: 1rem;
			}
		}
		section.content{
			margin-top: 1rem;
		}
	}
	.next-project{
		height: 10rem;
		overflow: hidden;
		position: relative;
		& > img{
			width: 100%;
			position: absolute;
			opacity: .5;
			transform-origin: center center;
		}
		.shader{
	background: linear-gradient(360deg, rgba(22, 22, 22, .2) 0%, rgba(21, 21, 21, 1) 100%);
		}
		a, h3{
			margin: 1.5rem;
			display: block;
			overflow: hidden;
			z-index: 800;
		}
		a{
			height: 5rem;
			h1{
				position: absolute;
				bottom: .5rem;
				left: .5rem;
			}
		}
	}
@include breakpoint(md){
	header{
		h1{
			left: 2.5rem;
		}
	}
	article:first-of-type{
		img{
			transform: translateY(-30vh);
		}
		padding-bottom: 0rem;
	}
	article{
		display: flex;
		padding: 0 2.5rem 2.5rem;
		section.text{
			flex: 33.33;
			padding: 0 2.5rem 0 0;
			img{
				width: 100% !important;
				height: 6rem!important;
			}
			.float,
			.float-2,
			.float-3{
				float: left;
				&:last-of-type{
					margin-right: 0;
				}
			}
			.float-2{
				width: calc(50% - .5rem);
				margin-right: 1rem;
			}
			.float-3{
				width: calc(33% - 1rem);
				margin-right: 1rem;
			}
		}
		section.content{
			flex: 66.66;
			margin: 0;
		}
		&:nth-of-type(even){
			flex-direction: row-reverse;
			section.text{
				padding: 0 0 0 2.5rem;
			}
		}
	}
}
}