
@media only screen and (min-width: 576px) {

/* nav */

/* carousel */
#carouselCtrl,
.carousel-inner{
	height: 324.21px;
}

/* form */

/* form{
	width: 100%;
} */

/* Social */

/* cards - home */

.card{
	width: 50%;
	display: inline-block;
}

 /* cards - home - popular */

#popular .card{
	width: calc(33.33% - 30px);
}


/* footer */

} 

@media only screen and (max-width: 992px) {
.container{
	min-width: 100%!important;
}
}
@media only screen and (min-width: 768px) {

/* nav */

/* carousel */
#carouselCtrl,
.carousel-inner{
	height: 432px;
}

/* form */

/* Social */

/* cards - home */

 /* cards - home - popular */

#popular .card{
	height: calc(33vw - 30px);
}

/* footer */

} 

@media only screen and (min-width: 992px) {

/* nav */

/* carousel */
#carouselCtrl,
.carousel-inner{
	height: 558.35px;
}

#carouselCtrl h1{
	font-size: 2.5rem;
}
/* form */

/* Social */

/* cards - home */

#featured{
	text-align: center;
}
#featured .card:first-of-type{
	width: 50%;
}

 /* cards - home - popular */
#popular .card{
	width: calc(25% - 30px);
	height: 260px;
}

/* footer */

} 

@media only screen and (min-width: 1400px) {

/* nav */

/* carousel */

/* form */

/* Social */

/* cards - home */

 /* cards - home - popular */

/* footer */

} 
