
@media only screen and (min-width: 768px) {

#park-list{
	padding: 9px 24px 24px;
	text-align: center;
}
.park #carouselCtrl img {
	transform: scale(2);
}
#park-list > div{
	text-align: left;
	width: 50%;
	display: inline-block;
	border: 0;
}

#park-list > div:nth-of-type(even){
	padding-left: 15px;
}
#park-list > div:nth-of-type(odd){
	padding-right: 15px;
}

	#park-list .list-img{
		width: 100%;
		height: 194px;
		margin-bottom: 15px;
	}

		#park-list div img{
			position: relative;
			width: 100%;
			max-width: unset;
		}


} 

@media only screen and (min-width: 992px) {

#park-list{
	padding: 9px 0 24px 0;
}
#park-list > div{
	width: 33.3%;
	padding: 15px;
}

} 

@media only screen and (min-width: 1400px) {

#gallery{
	width: 950px;
	margin: 0 auto;
}
.park #carouselCtrl img {
	transform: scale(3);
}

} 
