:root{
	font-size: 30px;
}
html {
	box-sizing: border-box;
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	body {
		> *{
			position: relative;
		}
		* {box-sizing: border-box;}
		a {text-decoration: none;}
	} 
}
