body {
	font-size: .5rem;
	line-height: .667rem;
	*{
		font-family: "Gotham"!important;
		font-size: .475rem;
	}
	h1,
	h2,
	h3,
	button,
	navigation {
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .0875em;
		// background: blue;
	}
	h1{
		font-size: 1rem;
		line-height: 1.25rem;
		letter-spacing: .075em;
	}
	p,
	input,
	a,
	label,
	.column li{
		// font-size: rem;
		font-family: "Gotham Book"!important;
	}
	a{
		color: white;
		border-bottom: 2px dotted white!important;
	}
}