<article
	id="{{value.slug}}"
	class="{{value.slug}}"
	ng-repeat="(key, value) in skillsTools.pageContent track by $index">

	<section
		class="image"
		style="background-image: url({{value.acf.cover}});">
		
	</section>

	<section class="text column">

		<h1>{{value.title.rendered}}</h1>
		<p ng-bind-html="value.content.rendered"></p>

		<div class="skills"
			ng-repeat="x in value.skills">
			<h2 
				ng-hide="x == ''">
				Skills
			</h2>
			<div
				class="{{value.slug}}"
				ng-hide="x == ''">
				<span ng-repeat="y in x">
					{{y}}
				</span>
			</div>
		</div>
		
		<div class="tools"
			ng-repeat="x in value.tools">
			<h2 
				ng-hide="x == ''">
				Tools
			</h2>
			<div
				class="{{value.slug}} tools"
				ng-hide="x == ''">
				<span ng-repeat="y in x">
					{{y}}
				</span>
			</div>
		</div>
		
	</section>
</article>