<!-- <article>

	<section 
		class="text"
		ng-if="casestudy.contentOnOff == false"
		ng-hide="!casestudy.page.columns.about">
		<div class="column"
			ng-repeat="(key, value) in casestudy.page.columns">
			<h3 ng-hide="value == undefined || value == ''">{{key}}</h3>
			<p ng-hide="value == undefined || value == ''">{{value}}</p>
		</div>
	</section>

	<section class="content">
		<div class="content-rendered"
			ng-bind-html="casestudy.page.rendered"></div>
	</section>

</article> -->


<article
	id="{{i.slug}}"
	ng-repeat="i in casestudy.posts track by $index">
	<section
		class="text"
		ng-if="i.acf.description">
		<div
			class=""
			ng-bind-html="i.acf.description">
		</div>
	</section>
	<section
		class="content"
		ng-bind-html="i.content.rendered">
	</section>
</article>
